main {
  width: 800px;
  margin: auto;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.container {
  display: grid;

  width: min-content;
  margin: var(--spacing) auto;

  grid-template-columns: 200px 800px 200px;
  grid-template-rows: 30px;
  grid-template-areas:
    "navigation navigation navigation"
    "header-left header header-right"
    "left main right";

  gap: var(--spacing);

  @media only screen and (max-width: 600px) {
    width: 95vw;
    margin: 0 2.5vw;
    grid-template-columns: 95vw;
    grid-template-rows: 76px;
    grid-template-areas:
      "navigation"
      "header-left"
      "header"
      "header-right"
      "left"
      "main"
      "right";
  }

  > h1 {
    grid-area: header;
    margin: 0;
  }

  > main {
    grid-area: main;
  }

  > nav {
    grid-area: navigation;
    display: flex;
    justify-content: space-evenly;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      gap: var(--spacing);
      align-items: center;
    }
  }
}
