.container {
  width: clamp(0px, 95%, var(--size-layout-page));
  margin: auto;
  padding-block-end: var(--space-xl);
}

.text-container {
  width: clamp(0px, 95%, var(--size-layout-content));
}

.with-sidebar {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: var(--space-l);
}

.with-sidebar > :first-child {
  flex-basis: 10rem;
  flex-grow: 1;
}

.with-sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 70%;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--space-s);
  container-type: inline-size;

  > * {
    @container (max-width: 5rem) {
    }
  }

  h2 {
    width: 100%;
    text-decoration: none;
    font-size: var(--font-step-2);
    border-block-end: 1px solid var(--color-secondary);
  }
}