body {
  padding-block: var(--size-5);
  background-image: var(--color-surface-1);
}

.hero {
  width: 100vw;

  .content {
    width: var(--page-width);
    margin: auto;
    padding-block-end: var(--size-8);
    padding-block-start: var(--size-12);
  }
}

.container {
  width: var(--page-width);
  margin: auto;

  @media (width < 768px) {
    width: 95svw;
  }
}
