:root {
  /* @link https://accessiblepalette.com/?lightness=98.2,93.95,85.1,76.5,67.65,57.8,47.6,40.4,32.4,23.55&fc0547=1,0&fffb16=1,0&4ebffb=1,0&7b55b5=1,0&FFEEDD=0,0 */

  --red-50: #fff8f8;
  --red-100: #ffe9e7;
  --red-200: #ffc7c5;
  --red-300: #ffa5a3;
  --red-400: #ff7d80;
  --red-500: #ff4158;
  --red-600: #df1340;
  --red-700: #ba1a37;
  --red-800: #931c2d;
  --red-900: #6a1b22;

  --yellow-50: #fffdbf;
  --yellow-100: #f9f518;
  --yellow-200: #dfdb1c;
  --yellow-300: #c6c21e;
  --yellow-400: #ada91f;
  --yellow-500: #928f1e;
  --yellow-600: #77741d;
  --yellow-700: #65621b;
  --yellow-800: #514e19;
  --yellow-900: #3c3915;

  --blue-50: #f5fbff;
  --blue-100: #def0fe;
  --blue-200: #abdbfd;
  --blue-300: #6dc6fc;
  --blue-400: #4aaee5;
  --blue-500: #4293c0;
  --blue-600: #39779b;
  --blue-700: #336482;
  --blue-800: #2b5067;
  --blue-900: #233b4a;

  --purple-50: #fbf9fd;
  --purple-100: #f1ebf7;
  --purple-200: #ddcfec;
  --purple-300: #c9b5e0;
  --purple-400: #b49ad4;
  --purple-500: #9c7cc7;
  --purple-600: #835fb9;
  --purple-700: #704ea4;
  --purple-800: #593f81;
  --purple-900: #422f5c;

  --gray-50: #fff9f3;
  --gray-100: #fcebda;
  --gray-200: #e1d2c3;
  --gray-300: #c8bbad;
  --gray-400: #afa397;
  --gray-500: #938980;
  --gray-600: #787068;
  --gray-700: #655e57;
  --gray-800: #514b46;
  --gray-900: #3b3733;

  --white: rgb(241, 241, 241);
  --black: rgb(15, 15, 15);
}
