@import "variables";
@import "reset";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: var(--color-text);
}

body {
  background: linear-gradient(
    to bottom,
    var(--colors-background-start),
    var(--colors-background-end)
  );
  background-attachment: fixed;
  min-height: 100vh;
}

@import "typography";
@import "layout";