@import "mixins";

body {
  font-size: var(--font-step-0);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
  text-wrap: balance;
  font-weight: normal;

  margin-block-start: var(--space-l);
  margin-block-end: var(--space-xs);
  color: var(--color-primary);

  strong {
    font: inherit;
    font-weight: bold;
  }
}

h1 {
  width: 100%;
  border-bottom: 0.1em solid var(--color-secondary);

  font-size: var(--font-step-5);
  font-weight: bold;
  letter-spacing: 0.05em;

  text-decoration-thickness: 0.15em;
  text-underline-offset: 0.1em;

  margin-block-end: var(--space-m);

  @include fancy-gradient();
}

h2,
h3 {
  text-decoration: underline;
  text-decoration-color: var(--color-secondary);
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.1em;
}

h2 {
  font-size: var(--font-step-4);
  @include text-gradient();
}

h3 {
  font-size: var(--font-step-3);
}

h4 {
  font-size: var(--font-step-2);
}

p {
  margin-block-end: var(--space-s);
  max-width: 50ch;

  &.lead {
    width: 100%;
  }

  strong {
    font: inherit;
    font-weight: bold;
  }

  em {
    font: inherit;
    font-style: italic;
  }
}

a {
  color: var(--color-primary-light);
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.1em;
  transition: color 200ms;

  &:hover,
  &:focus {
    color: var(--purple-300);
  }
}

pre,
code {
  font-family: var(--font-source-code);
}

table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  margin-block-end: var(--space-s);

  th,
  td {
    padding-inline-end: var(--space-2xl);
    padding-inline-start: var(--space-s);
  }

  th {
    font-family: var(--font-headings);
    color: var(--color-primary);
    font-size: var(--font-step-1);
    text-align: left;
    font-weight: 700;
  }

  td {
    padding-block: var(--space-xs);
  }

  tr:has(> th) {
    margin-block-end: var(--space-l);
    background-color: var(--color-faint);
  }

  tr:not(:has(> th)) {
    border-bottom: 1px dotted var(--color-subtle);
  }
}

ol,
ul {
  margin-left: var(--space-m);
}

ul {
  list-style-type: square;
  margin-block-end: var(--space-s);
}

li::marker {
  font-weight: bold;
  color: var(--color-primary);
  transition: color 250ms;
}

li:hover::marker {
  color: var(--color-secondary);
}

.metadata {
  font-size: var(--font-step--1);
  font-weight: 200;
  letter-spacing: 0.05em;
  line-height: 1.15em;
  &,
  & > * {
    font-family: var(--font-metadata);
  }

  h2 {
    font-size: var(--font-step-0);
    color: var(--color-primary);
    background: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    margin-block-start: 0;
    margin-block-end: var(--space-2xs);
  }
}

.lead {
  @include fancy-gradient();
  font-weight: bold;
  font-size: var(--font-step-1);
}

// blockquote {
//   margin-left: var(--spacing);
//   padding-left: var(--spacing);
//   padding-right: var(--spacing-big);
//   border-width: 0 0 0 var(--spacing-small);
//   border-style: solid;
//   border-image: linear-gradient(
//       to bottom,
//       var(--color-text-highlight),
//       var(--color-text-highlight-strong)
//     )
//     1;
//   font-size: 1.1em;
//   letter-spacing: 0.04em;
// }

// nav {
//   font-size: calc(var(--font-size-base) / var(--ratio));
//   text-underline-offset: 0.125em;
// }
