@use "sass:color";

:root {
  /*
   * SIZES
   */

  /* @link https://utopia.fyi/clamp/calculator?a=499,1000,88—110 */
  --size-s: clamp(5.5rem, 4.1305rem + 4.3912vw, 6.875rem);
  /* @link https://utopia.fyi/clamp/calculator?a=499,1000,120—150 */
  --size-m: clamp(7.5rem, 5.6325rem + 5.988vw, 9.375rem);

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-step--2: clamp(0.6944rem, 0.6855rem + 0.0446vw, 0.72rem);
  --font-step--1: clamp(0.8331rem, 0.8099rem + 0.1163vw, 0.9rem);
  --font-step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --font-step-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
  --font-step-2: clamp(1.44rem, 1.3293rem + 0.5533vw, 1.7581rem);
  --font-step-3: clamp(1.7281rem, 1.5649rem + 0.8163vw, 2.1975rem);
  --font-step-4: clamp(2.0738rem, 1.8396rem + 1.1707vw, 2.7469rem);
  --font-step-5: clamp(2.4881rem, 2.1594rem + 1.6435vw, 3.4331rem);

  /* @link https://utopia.fyi/space/calculator?c=499,12,1.2,1000,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,&g=s,l,xl,12 */
  --space-3xs: clamp(0.1875rem, 0.1252rem + 0.1996vw, 0.25rem);
  --space-2xs: clamp(0.375rem, 0.2505rem + 0.3992vw, 0.5rem);
  --space-xs: clamp(0.5625rem, 0.3757rem + 0.5988vw, 0.75rem);
  --space-s: clamp(0.75rem, 0.501rem + 0.7984vw, 1rem);
  --space-m: clamp(1.125rem, 0.7515rem + 1.1976vw, 1.5rem);
  --space-l: clamp(1.5rem, 1.002rem + 1.5968vw, 2rem);
  --space-xl: clamp(2.25rem, 1.503rem + 2.3952vw, 3rem);
  --space-2xl: clamp(3rem, 2.004rem + 3.1936vw, 4rem);
  --space-3xl: clamp(4.5rem, 3.006rem + 4.7904vw, 6rem);

  --size-layout-page: 1000px;
  --size-layout-content: 700px;

  /*
   * COLOR TOKENS
   */
  --purple-30: rgb(203, 176, 244);
  --purple-40: rgb(169, 135, 220);
  --purple-50: rgb(123, 85, 181);
  --purple-60: rgb(80, 50, 125);
  --purple-70: rgb(51, 25, 91);

  --blue-30: rgb(142, 211, 248);
  --blue-50: rgb(78, 191, 251);

  --gray-10: rgb(241, 222, 241);
  --gray-50: rgb(78, 72, 78);
  --gray-70: rgb(39, 35, 39);

  --white: rgb(241, 241, 241);
  --black: rgb(15, 15, 15);

  /*
   * SEMANTIC COLORS
   */
  --color-primary: var(--purple-50);
  --color-primary-light: var(--purple-40);
  --color-primary-dark: var(--purple-70);
  --color-secondary: var(--blue-50);
  --color-subtle: var(--gray-50);
  --color-faint: var(--gray-70);

  /*
   * ELEMENT COLORS
   */

  --color-border: var(--color-subtle);

  --color-paper-background: var(--color-faint);
  --color-paper-border: var(--color-border);

  --colors-background-start: var(--gray-70);
  --colors-background-end: var(--black);

  /*
   * TYPOGRAPHY COLORS
   */
  --color-text: var(--white);

  --colors-link-hover: #{color.scale(rgb(222, 207, 245), $lightness: -25%)};
  --colors-link-active: #{color.scale(rgb(222, 207, 245), $lightness: -30%)};
}
