@use "../../node_modules/utopia-core-scss/src/utopia" as utopia;

@import "palette";

:root {
  /*
   * SIZES
   */
  --size-s: #{utopia.calculateClamp(
      (
        "minWidth": 500,
        "maxWidth": 1200,
        "minSize": 88,
        "maxSize": 110,
      )
    )};
  --size-m: #{utopia.calculateClamp(
      (
        "minWidth": 500,
        "maxWidth": 1200,
        "minSize": 120,
        "maxSize": 150,
      )
    )};

  @include utopia.generateTypeScale(
    (
      "minWidth": 500,
      "maxWidth": 1200,
      "minFontSize": 18,
      "maxFontSize": 20,
      "minTypeScale": 1.2,
      "maxTypeScale": 1.25,
      "positiveSteps": 5,
      "negativeSteps": 2,
      "relativeTo": "viewport",
      "prefix": "font-step-",
    )
  );

  @include utopia.generateSpaceScale(
    (
      "minWidth": 500,
      "maxWidth": 1200,
      "minSize": 12,
      "maxSize": 16,
      "positiveSteps": (
        1.5,
        2,
        3,
        4,
        6,
      ),
      "negativeSteps": (
        0.75,
        0.5,
        0.25,
      ),
      "relativeTo": "viewport",
      "prefix": "space-",
    )
  );

  --size-layout-page: 1000px;
  --size-layout-content: 700px;

  /*
   * SEMANTIC COLOR TOKENS
   */
  --color-primary: var(--purple-400);
  --color-primary-light: var(--purple-300);
  --color-primary-dark: var(--purple-600);
  --color-secondary: var(--blue-400);
  --color-subtle: var(--gray-500);
  --color-faint: var(--gray-800);

  /*
   * COMPONENT COLOR TOKENS
   */

  --color-border: var(--color-subtle);

  --color-paper-background: var(--color-faint);
  --color-paper-border: var(--color-border);

  --color-background-start: var(--gray-900);
  --color-background-end: var(--black);

  --color-example-box: var(--color-primary);

  /*
   * TYPOGRAPHY COLORS
   */
  --color-text: var(--white);
}
