.box {
  width: var(--size-m);
  min-height: var(--size-m);
  border: 1px solid var(--color-paper-border);
  background-color: var(--color-paper-background);
  display: flex;
  flex-direction: column;
}

.color {
  width: 100%;
  flex-grow: 1;
}

.content {
  padding: var(--space-2xs);
  flex: 0 0 min-content;
}
