.tag {
  background-color: var(--color-primary);
  color: var(--color-contrast);

  padding-inline: var(--size-2);
  padding-block: var(--size-1);
  margin-inline-end: var(--size-1);

  font-size: var(--font-size-1);
  font-weight: var(--font-weight-6);
  border-radius: var(--radius-4);
}
