.tag {
  background-color: var(--color-primary);
  padding: var(--space-2xs);
  margin-right: var(--space-xs);

  font-size: var(--font-step--1);
  font-weight: bold;
  border-radius: var(--space-2xs);
}
