.element {
  --border-radius: var(--radius-4);

  background-color: var(--color-surface-2);
  background-image: var(--gradient-surface-2);
  padding: var(--size-3);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-3);

  position: relative;

  transition: all 300ms ease-in-out;

  @media (width <= 768px) {
    width: 95svw;
  }
}

.element:hover {
  box-shadow: var(--shadow-4);
  transform: scale(1.02);
}

.link a {
  text-decoration: none;
}

.link a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.bold {
  font-weight: 900;
  font-size: var(--font-size-heading);
}

.center {
  place-content: center;
  display: grid;
}

.image {
  padding: 0;
  overflow: hidden;
}

.color {
  background-image: var(--gradient-primary);
  color: var(--color-contrast);
}

.invisible,
.invisible:hover {
  background: none;
  border: none;
  box-shadow: none;
  transform: none;
}

.big {
  @media (width <= 768px) {
    min-height: 95svw;
  }
}
